html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.workspace {
  height: 60%;
  margin: 2em 0;
  display: flex;
  flex-direction: row;
}
.canvasWrapper {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
}
.controlPanel {
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 20%;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.inputFileWrapper {
  display: inline-block;
  background: #0002;
  padding: 2em;
  border-radius: 1em;
}

.filters {
  display: flex;
  flex-direction: column-reverse;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0003;
  padding: 0 1em;
  margin: 0.5em 0;
  border-radius: 1em;
}
.filterTop {
  align-self: stretch;
  display: flex;
}
.filterSettings {
  position: relative;
  width: 100%;
}
input[type="range"] {
  width: 100%;
}
.hidden-filter {
  background-color: #0001;
}

.filterName {
  flex: 1;
}

.svg-button {
  all: unset;
  cursor: pointer;
  margin: 0.5em;
  display: flex;
  align-items: center;
}
