@charset "utf-8";

$family-sans-serif: sans-serif;
$body-background-color: #f0f0dc;

@import "../node_modules/bulma/bulma.sass";

html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.topBar {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workspace {
  flex-grow: 1;
  position: relative;
  max-height: 100%;
}
.workspaceWrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
}
.canvasWrapper {
  padding: 2em;
}
.controlPanel {
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.buttonBar {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.inputFileWrapper {
  height: 10%;
  display: inline-block;
  background: #0002;
  padding: 2em;
  border-radius: 1em;
}

.filters {
  display: flex;
  flex-direction: column-reverse;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0003;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 1em;
}
.filterTop {
  align-self: stretch;
  display: flex;
}
.filterSettings {
  position: relative;
  width: 100%;
}
input[type="range"] {
  width: 100%;
}
.hidden-filter {
  background-color: #0001;
}

.filterName {
  flex: 1;
  align-self: center;
}

.not-button {
  border: unset;
  background: unset;
  cursor: pointer;
}

.svg-button {
  @extend .not-button;
  display: flex;
  align-items: center;
}
